<div class="mx-auto max-w-4xl py-6 px-6 border border-1 rounded-lg bg-white/30
    dark:border-stone-700 dark:bg-neutral-800/30 backdrop-blur-xl">

  <h1 class="font-extrabold my-2 text-4xl dark:text-gray-100">New task</h1>
  <%= render "form", task: @task %>

</div>