<% content_for :title, "Life Planner :: Home Page" %>
<div class="flex-col h-full container mx-auto pt-8 px-4">
  <h1 class="font-bold text-4xl">Life Planner Home Page</h1>
  <p>Find me in app/views/pages/home.html.erb</p>
</div>
