@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .badge_neutral {
    @apply ring-gray-600/30 bg-gray-100 text-gray-700 rounded-md dark:bg-gray-700 dark:text-gray-300;
  }

  .badge_default {
    @apply ring-blue-600/30 bg-blue-100 text-blue-800 rounded-md dark:bg-blue-800 dark:text-blue-300;
  }

  .badge_green {
    @apply ring-green-600/30 bg-green-100 text-green-800 rounded-md dark:bg-green-900 dark:text-green-300;
  }

  .badge_red {
    @apply ring-red-600/30 bg-red-100 text-red-800 rounded-md dark:bg-red-900 dark:text-red-300;
  }
}

  .mobile-menu-enter {
    animation: slideDown 0.2s ease-out;
  }

  .mobile-menu-exit {
    animation: slideUp 0.2s ease-in;
  }

  @keyframes slideDown {
    from {
      transform: translateY(-10%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes slideUp {
    from {
      transform: translateY(0);
      opacity: 1;
    }
    to {
      transform: translateY(-10%);
      opacity: 0;
    }
  }


::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: .5s;
}
